<mat-card class="card">
  <mat-card-header>
    <mat-toolbar>
      <span>Escritorio Remoto - {{ user()?.displayName || "Usuario" }}</span>
      <span class="spacer"></span>

      <button matIconButton (click)="toggleTheme()">
        <mat-icon>{{ isDark() ? "dark_mode" : "light_mode" }}</mat-icon>
      </button>
      <button matIconButton (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div class="centered">
      <mat-form-field appearance="outline">
        <mat-label>Buscar aplicaciones</mat-label>
        <input matInput [(ngModel)]="searchQuery" />
        @if (searchQuery()) {
          <button matIconButton matSuffix (click)="searchQuery.set('')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
    <main>
      @defer (when !isLoading()) {
        <mat-nav-list>
          <mat-divider></mat-divider>
          @for (group of filteredGroups(); track group.name) {
            <div mat-subheader>{{ group.name }} ({{ group.apps.length }})</div>
            @for (app of group.apps; track app.alias) {
              <a mat-list-item (click)="launch(app.alias)" (keydown.enter)="launch(app.alias)">
                <mat-icon matListItemIcon>description</mat-icon>
                <div matListItemTitle>{{ app.name }} - {{ app.remoteServer }}</div>
              </a>
            }
            <mat-divider></mat-divider>
          } @empty {
            <div class="centered">
              @if (isLoading()) {
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
              }
              <button matButton (click)="loadApps()" (keydown.enter)="loadApps()">
                No se encontraron aplicaciones. Haga clic para recargar.
              </button>
            </div>
          }
        </mat-nav-list>
      } @placeholder {
        <div class="centered">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      }
    </main>
  </mat-card-content>
</mat-card>
