:host {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.card {
  width: 70%;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  padding-top: 16px;
}

.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
