:host {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.logo {
  width: 450px;
  animation: fadeIn 2.2s ease-in-out;
}

.card {
  padding: 16px;
}

.header {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  > * {
    width: 100%;
  }
}

.loading {
  animation: spin 1s linear infinite;
}

@keyframes fadeIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
