@use "@fontsource-variable/inter";

$color-bg-radial-1: rgba(70, 96, 152, 0.26);
$color-bg-radial-2: rgba(40, 56, 96, 0.3);
$color-bg-linear-start: #131a28;
$color-bg-linear-end: #09101a;

html {
  height: 100%;
}

body {
  color-scheme: light;

  background:
    radial-gradient(circle at 14% 18%, $color-bg-radial-1, transparent 24%),
    radial-gradient(circle at 88% 78%, $color-bg-radial-2, transparent 22%),
    linear-gradient(180deg, $color-bg-linear-start, $color-bg-linear-end);

  font-family: "Inter Variable", sans-serif;
  font-weight: 400;

  margin: 0;
  height: 100%;
}

.fade-in {
  opacity: 0; // Estado inicial invisible
  animation: fadeIn 0.8s ease-out forwards;
  animation-delay: calc(var(--delay-time) * 0.05s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
